/*Extra*/

body {
    font-size: 16px;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: #455261;
}

/*Navbar*/
header {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    position: fixed;
    box-shadow: 0 0 10px 5px grey;
    width: 100%;
    z-index: 10;
    background-color: #f6f5f6;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

header ul {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    list-style: none;
    padding: 0;
}

header ul li:first-child {
    font-weight: bold;
}

.logo {
    display: flex;
    height: 2rem;
    align-items: center;
    padding-left: 1.5rem;
}

.logo img {
   height: 3rem;
}

nav {
    padding-right: 1.5rem;
    display: block;
    float: right;
}

.spans {
    box-sizing: inherit;
}

.spans a {
    text-decoration: none;
    margin: 1rem 0.75rem 1rem auto;
    color: black;
    font-size: 1.2rem;
    font-family: sans-serif;
    font-family: 'Raleway';
}

.spans a:hover {
    transition: all 400ms ease 20ms;
    color: #7faff2;
}

/*Readers*/
.content {
    background-color:lightgray;
}

.banner {
    display: flex;
    padding-top: 4rem;
    align-items: center;
    background-color: #b3b9be;
}

.banner-image {
    width: 60%;
    overflow: hidden;
    padding: 2rem 1.5rem;
}

.banner-image img {
    max-width: 100%;
    height: auto;
    display: block;
}

.caption {
    width: 30%;
    font-family: sans-serif;
    margin-bottom: 5rem;
    align-content: center;
    margin-right: 4.5rem;
    margin-left: 1.2rem;
}

.caption h1 {
    font-size: 3.5rem;
    font-weight: 900;
    font-family: 'Source Sans Pro', sans-serif;
}

.caption p {
    font-size: 2.5rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2rem;
    margin: 2.5rem 0;
}

#button {
    font-size: 1.5rem;
    color: white;
    background-color: gray;
    padding: .5rem 30%;
    font-family: 'Source Sans Pro', sans-serif;
}

#button:hover {
    transition: all 400ms ease-in-out 20ms;
    background-color: #7faff2;
    box-shadow: 2px 2px 10px 5px grey;
}

/*male student*/
.white-background {
    display: flex;
    background-color: #f6f5f6;
}

.banner-two {
    width: 60%;
    overflow: hidden;
    padding: 2rem 1.5rem;
    font-family: 'Source Sans Pro', sans-serif;
    flex-direction: column;
}

.banner-two-image {
    padding: 2rem 1.5rem;
    overflow: hidden;
}

.banner-two-image img {
    width: 100%;
    height: auto;
    display: block;
}

.banner-two h1 {
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.banner-two p {
    font-size: 1.75rem;
}

.banner-two span {
    font-size: 1.5rem;
    padding-bottom: 2rem;
}

.caption-two {
    display: inline-flex;
    flex-direction: column;
    margin-left: 1.5rem;
}

.side-bar {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 40%;
    padding: 1rem 0;
    border-left: 1px solid #b3b9be;
}

.words {
    font-family: 'Source Sans Pro', sans-serif; 
    width: 65%;
}
 
.words a {
    text-decoration: none;
    color: #2036a8;
}
 
.box {
    display: flex;
    align-items: center;
    border-top: 1px solid #b3b9be;
}

body .side-bar .box:hover { 
    transition: all 400ms ease-in-out 20ms;
    background-color: #7faff2;
}

.item-image {
    width: 35%;
    overflow: hidden;
    height: auto;
    padding: 1rem;
}

.item-image img {
    max-width: 100%;
    height: auto;
    display: block;
}

/*Courses*/
.grey-background {
    display: flex;
    flex-direction: column;
    background-color: #b3b9be;
    justify-content: flex-start;
    padding: 2rem 8rem;
}

.head {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    margin: 0;
}

.head:hover {
    transition: all 400ms ease 2ms;
    color: #7faff2;
}

.courses {
    width: 33.33%;
    padding: 1rem;
    overflow: hidden;
}

.courses:hover {
    transition: all 400ms ease-in-out 20ms;
    box-shadow: 2px 2px 10px 5px grey;
}

.row-one {
    display: flex;
}

.row-two {
    display: flex;
}

.coursename {
    width: 100%;
    background-color: #f6f5f6;
    height: 10rem;
    text-align: left;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.coursename h3 {
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0;
}

.coursename span {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.coursename p {
    padding-bottom: 1.5rem;
}

.courses img {
    max-width: 100%;
    height: auto;
}

/*Thesis video*/
.video-background {
    background-color: #f6f5f6;
    display: flex;
}

.white-side-bar {
    background-color: #f6f5f6;
    margin-top: 18rem;
}   

#tower-box {
    border-bottom: 1px solid #b3b9be;
}

.thesis {
    text-align: right;
}

.banner-three {
    display: flex;
    flex-direction: column;
}

.banner-three-video {
    display: block;
    margin: 2rem 1.5rem;
    margin-bottom: 0;
    overflow: hidden;
    padding: 0;
}

.banner-three-video video {
    max-width: 100%;
}

.caption-three {
    width: 100%;
}

.caption-three h1 {
    font-size: 3rem;
    padding-bottom: .5rem;
}

.caption-three p {
    font-size: 1.75rem;
    padding-bottom: 2rem;
    margin: 0;
}

/*Copyright*/
footer {
    background-color: #f6f5f6;
    border-top: 1px solid #b3b9be;
    padding-top: 1rem;
}

footer .copyright {
    justify-content: space-between;
}

.copyright {
    display: flex;
    align-content: center;
    align-items: center;
}

.copyright h4 {
    padding-left: 1.5rem;
}

.terms-privacy span {
    margin: auto 1rem;
}

a {
    text-decoration: none;
    color: #7faff2;
}

/*Media Queries*/

@media only screen and (max-width: 2000px) and (min-width: 800px) {
    .logo a {
        display: none;
    }
    .mobile-item-image {
        display: none;
    }
    .mobile-item-image img {
        display: none;
    }
}


@media only screen and (max-width: 800px) {
    /*header*/
    header .logo {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 1.5rem;
    }
    header ul {
        display: none;
    }
    nav {
        display: none;
    }
    #icons {
        display: inline-block;
        padding: auto 2rem;
        vertical-align: -15%;
        height: 2.5rem;
        width: auto;
    }
    /*students w books*/
    .banner {
        flex-direction: column;
        align-items: center;
        background-color: #b3b9be;
    }
    .banner-image {
        padding: 0 0 2rem 0;
        width: 100%;
    }
    .caption {
        width: 100%;
        padding-left: 4.5rem;
    }
    .caption h1 {
        padding: 0 0 2rem 1rem; 
        margin: 0;
        font-size: 3rem;
    }
    .caption p {
        margin-top: 0;
        font-size: 2rem;
        padding-right: 1rem;
        padding-left: 1rem;
    }
    #button {
        margin: 1.5rem 0 2rem 1rem;
    }
    /*male student*/
    .banner-extra {
        display: none;
    }
    /*orientation, campus, guest*/
    .side-bar {
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .box {
        flex-direction: column;
        width: 100%;
        border: none;
        padding: 1rem;
    }
    .item-image {
        display: none;
        padding: 0;
    }
    .item-image img {
        display: none;
        padding: 0;
    }
    .mobile-item-image {
        width: 100%;
        overflow: hidden;
        padding: 0;
    }
    .mobile-item-image img {
        max-width: 100%;
        height: auto;
        display: block;
        align-items: center;
    }
    .words {
        margin: 1rem
    }
    .grey-background {
        padding: 0;
    }
    .head h2 {
        padding: 0;
        margin: 2rem 0 1rem 0;
        font-size: 3rem;
    }
    .courses img {
        display: none;
    }
    .courses {
       width: 100%;
       padding: 0.5rem;
    }
    .row-one {
        flex-direction: column;
    }
    .row-two {
        flex-direction: column;
    }
    .coursename {
        display: flex;
        padding: 1rem 0 1.5rem 1rem;
        height: 2.5rem;
    }
    .coursename span {
        display: none;
    }
    .coursename p {
        display: none;
    }
    .white-side-bar {
        display: none;
    }
    .thesis h2 {
        padding: 0 0 1rem 0;
        margin: 0;
    }
    .thesis {
        width: 100%;
        text-align: center;
    }
    .banner-three {
        padding: 2rem 0 1.5rem 0;
        display: flex;
        width: 100%;
    }
    .banner-three-video {
       max-width: 100%;
       padding: 0;
       margin: 0;
    }
    .caption-three {
        display: none;
    }
    .terms-privacy {
        display: none;
    }
    .copyright h4{
        
    }
}